<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-g">
		<title></title>
		<link rel = "stylesheet" href="styles.css">
	</head>
	<body>
		<h1>Random Entertainment</h1>
		<p></p>
		<form action="videogames">
			<button type="submit">Video Games</button>
		</form>
		
			
	</body>
</html>

<!----<!DOCTYPE html>

			<a href="/scrape/">Video Games</a>
			<a href="/page3.html"> <button type="button" name="button">Films</button></a>
			<a href="/page4.html"> <button type="button" name="button">Music</button></a>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>This app is working!</h1>
</body>

</html> --->
