<!----<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-g">
		<title></title>
		<link rel = "stylesheet" href="styles.css">
	</head>
	<body>
		<h1>Random Site Page 1</h1>
		<p></p>
		<h2>Thing 1</h2>
		<h3>Thing 2</h3>
		<h4>Thing 3</h4>
		<a href="2ndpage.html"> <button type="button" name="button">Button1</button></a>
		<img src="/skateboard.jpg" >
	</body>
</html> --->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>This app is working!</h1>
</body>

</html>
